<a href="https://colab.research.google.com/github/stevengregori92/Learn-Pandas/blob/main/LearnPandas_Completed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('pokemon_data.csv', index_col = 0)
data.tail(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
data.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
data.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [5]:
data[['Name', 'Type 1', 'HP']]

                      Name   Type 1  HP
#
1                Bulbasaur    Grass  45
2                  Ivysaur    Grass  60
3                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
719                Diancie     Rock  50
719    DiancieMega Diancie     Rock  50
720    HoopaHoopa Confined  Psychic  80
720     HoopaHoopa Unbound  Psychic  80
721              Volcanion     Fire  80

[800 rows x 3 columns]

In [6]:
for index, row in data.iterrows():
  print(row['Name'])

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
Flabébé
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

In [7]:
#data['Type 1'] = 'Fire'
#data.head()

In [8]:
data.loc[data['Type 1'] == 'Fire']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [10]:
data.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [11]:
data.sort_values('Attack', ascending = False)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [12]:
data.sort_values(['Attack', 'Name'], ascending = [1,0])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
...,...,...,...,...,...,...,...,...,...,...,...
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

In [13]:
data['Total'] = data['HP'] + data['Attack'] + data['Defense'] + data['Sp. Atk'] + data['Sp. Def'] + data['Speed']

In [14]:
data.sort_values('Total', ascending = False)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
...,...,...,...,...,...,...,...,...,...,...,...,...
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False,195
401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False,194
298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,190
191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,180

In [15]:
#data['Total'] = data.iloc[:,4:10].sum(axis = 1)


#cols = list(data.columns)
#data = data[['Total', 'Defense', 'HP']]

#data

##Changing data

In [16]:
data.to_csv('modified.csv', index = False)

In [17]:
data.to_excel('modified.xlsx', index = False)

In [18]:
data.to_csv('modified.txt', index = False, sep = '\t')

##Filtering Data

In [19]:
#data.loc[data['Type 1'] == 'Grass']
new_data = data.loc[(data['Type 1'] == 'Grass') & (data['Type 2'] == 'Poison') & (data['HP'] > 70)]
new_data.to_excel('filtering.xlsx', index = False)

In [20]:
new_data.reset_index(drop = True, inplace = True)
new_data

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
1,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
2,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
3,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
4,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [21]:
data.loc[~data['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [22]:
import re
#data.loc[data['Type 1'].str.contains('Fire|Grass', regex =True)]
#data.loc[data['Type 1'].str.contains('fire|Grass', flags = re.I, regex =True)]
data.loc[data['Name'].str.contains('pi[A-G]*', flags = re.I, regex =True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False,250
172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False,245
187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False,250
204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False,410
316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False,302
326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False,470
327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False,360
328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,290
357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,460
393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False,474
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,220
442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False,485
451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False,330
452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False,500
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264
536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False,384
648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False,600
650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313

#Conditional Changes

In [23]:
data.loc[data['Type 1'] == 'Fire', 'Legendary'] = True

data

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [24]:
data.loc[data['Total'] > 500, ['Generation', 'Legendary']] = ['Test Value', 'Test 2']
data

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test Value,Test 2,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test Value,Test 2,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test Value,Test 2,600
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test Value,Test 2,700
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test Value,Test 2,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test Value,Test 2,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,Test Value,Test 2,600

In [25]:
data = pd.read_csv('modified.csv')
data

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [26]:
data.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,
Dragon,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Fighting,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Ground,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Rock,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Dark,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Fire,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Flying,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Poison,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Water,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ghost,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Normal,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Grass,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Ice,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Psychic,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Bug,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Electric,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Fairy,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471

In [27]:
data['count'] = 1

data.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

#Working with a large amount of data

In [ ]:
for data in pd.read_csv('modified.csv', chunksize = 10):
  print('Chunk DF')
  print(data)

In [35]:
new_df = pd.DataFrame(columns = data.columns)

for data in pd.read_csv('modified.csv', chunksize = 5):
  results = data.groupby(['Type 1']).count()
  
  new_df = pd.concat([new_df, results])

In [36]:
new_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Fire,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,NaN,2,2,2,2,2,2,2,2,2,2